.main-container {
    color: white;
    background-color: transparent;
    padding: 1rem;
  }
  
  .title-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .input-field-container,
  .radio-option-container {
    margin-bottom: 1rem;
  }
  
  .input-field-label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .nft-name-input-field {
    width: 50%;
    padding: 0.75rem 0.875rem;
    background-color: #2d3748;
    color: white;
    border: none;
    border-radius: 0.25rem;
  }
  
  .options-flex-container {
    display: flex;
  }
  
  .option-container,
  .image-container {
    width: 50%;
  }
  
  .bold-text {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .radio-option-label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .radio-option-span {
    margin-left: 0.5rem;
  }
  
  .image-container {
    position: relative;
  }
  
  .character-image,
  .weapon-image {
    position: absolute;
  }
  
  .pricing-container {
    text-align: center;
    margin-top: 1rem;
  }
  
  .mint-nft-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #3182ce;
    color: white;
    border-radius: 0.25rem;
  }
  