.sidebarItem {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 10vh;
    border-top: 1px solid #71717A;
  }
  
  .sidebarItem.active::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 2px;
    height: 8px;
    background-color: #D946EF;
    border-radius: 100%;
  }
  
  .sidebarItemLink {
    display: flex;
    align-items: center;
    padding-left: 4px;
    color: #71717A;
    text-transform: capitalize;
  }
  
  .sidebarItemLink.active {
    color: white;
  }
  
  .sidebarItemIcon {
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 4px;
  }
  
  .sidebarItemIcon.active {
    background-color: #D946EF;
  }
  
  .sidebarItemSvg {
    width: 20px;
    height: 20px;
    color: #71717A;
  }
  .sidebarItemText{
    color: #71717A;
  }
  .sidebarItemSvg.active {
    color: white;
  }
  .icon {
    color: #71717A;
}

  