.liveFeedLayout {
    display: flex;
    flex-direction: column;
  }
  
  .sideSpace {
    width: 3rem;
    display: none;
  }
  
  .contentGrow {
    flex-grow: 1;
  }
  
  @media (min-width: 1024px) {
    .liveFeedLayout {
      flex-direction: row;
    }
    .sideSpace {
      display: block;
    }
  }
  