.mainLayout {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 1024px) {
    .mainLayout {
      flex-direction: row;
      height: 100%;
    }
  }
  
  .sidePadding {
    width: 12rem;
    display: none;
  }
  
  @media (min-width: 1024px) {
    .sidePadding {
      display: block;
    }
  }
  
  .mainContent {
    flex-grow: 1;
  }