

.artwork-button-default {
  color: #747C92; /* Approximate for zinc-500 in Tailwind CSS */
}

.artwork-button-highlight {
  color: #D946D6; /* Approximate for fuchsia-600 in Tailwind CSS */
  text-decoration: underline;
  font-weight: bold;
}
