

.marketplaceTitle {
  font-size: 2em;
  font-weight: bold;
  padding-left: 0.75rem;
  margin-top: 0.75rem;
}

.marketplaceDescription {
  color: #71717A;
  padding-left: 0.75rem;
}

.promotionalContainer {
  padding: 0.75rem;
}

.promotionalBanner {
  width: 100%;
  height: 11rem;
  border-radius: 0.375rem;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.promotionalBannerTitle {
  font-weight: bold;
  font-size: 3em;
  max-width: 12.5rem;
}

.promotionalBannerButton {
  padding: 0.5rem;
  background-image: linear-gradient(to top right, #C38D9E, #E95258);
  border-radius: 0.375rem;
  width: 11rem;
  margin-top: 0.75rem;
}

.trendingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.75rem;
  margin-top: 0.75rem;
}

.trendingTitle {
  font-size: 1.25em;
  font-weight: 600;
}

.trendingArtworkSelector {
  display: inline-flex;
  gap: 0.75rem;
}
