@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");


.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.matchesContainer {
  background-color: #160016;
  border: 1px solid #D1D5DB;
  border-radius: 15px;
}

.matchesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.matchesNavList {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink {
  color: #6366F1;
  font-weight: 600;
}

.navLinkDefault {
  color: #9CA3AF;
}

.navLinkDefault:hover {
  color: #6366F1;
}

.agendaLink {
  color: #9CA3AF;
  padding: 0.25rem;
}

.matchesTable {
  width: 100%;
  text-align: center;
}

.tableHeader {
  background-color: #160016;
  border: 1px solid #D1D5DB;
  border-radius: 15px;
  color: #D1D5DB;
}

.tableCellDefault {
  padding: 0.5rem 2rem;
  text-align: left;
  white-space: nowrap;
}

.tableRow {
  border-bottom: 1px solid #D1D5DB;
  color: white;
}

.timeContainer {
  padding: 1rem 2rem;
  text-align: left;
  white-space: nowrap;
}

.liveIndicator {
  background-color: #FECACA;
  color: #DC2626;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.scoreDisplay {
  font-weight: 800;
}

.oddsIndicator,
.possibleWinningsIndicator {
  padding: 1rem;
  background-color: #6B7280;
  border: 1px solid #D1D5DB;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}

.statsLink {
  color: #6366F1;
  padding-right: 2rem;
}
