@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.matches-container {
  background-color: #160016;
  border: 1px solid #D1D5DB;
  border-radius: 15px;
}

.matches-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.matches-nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  color: #6366F1;
  font-weight: 600;
}

.nav-link-default {
  color: #9CA3AF;
}

.nav-link-default:hover {
  color: #6366F1;
}

.agenda-link {
  color: #9CA3AF;
  padding: 0.25rem;
}

.matches-table {
  width: 100%;
  text-align: center;
}

.table-header {
  background-color: #160016;
  border: 1px solid #D1D5DB;
  border-radius: 15px;
  color: #D1D5DB;
}

.table-cell-default {
  padding: 0.5rem 2rem;
  text-align: left;
  white-space: nowrap;
}

.table-row {
  border-bottom: 1px solid #D1D5DB;
  color: white;
}

.time-container {
  padding: 1rem 2rem;
  text-align: left;
  white-space: nowrap;
}

.live-indicator {
  background-color: #FECACA;
  color: #DC2626;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.score-display {
  font-weight: 800;
}

.odds-indicator,
.possible-winnings-indicator {
  padding: 1rem;
  background-color: #6B7280;
  border: 1px solid #D1D5DB;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}

.stats-link {
  color: #6366F1;
  padding-right: 2rem;
}
