@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


.largeHeader {
  position: relative;
  width: 100%;
  height: 100%;
}

.textContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #c0bfcd;
  font-family: 'Gruppo';
}