.relativeContainer {
    position: relative;
    font-weight: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainContainer {
    width: 100%;
    max-width: 30rem;
    margin: 2rem auto;
    text-align: center;
}

.headerContainer {
    max-width: 20rem;
    margin: 2rem auto 0.25rem;
}

.header {
    color: #4A5568;
    font-size: 3rem;
    font-weight: 800;
}

.formContainer {
    max-width: 20rem;
    margin: 2rem auto;
}

.formInnerContainer {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.375rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.inputField {
    margin-bottom: 1.5rem;
}

.inputLabel {
    display: block;
    color: #4A5568;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.inputElement {
    appearance: none;
    border: 1px solid #CBD5E0;
    border-radius: 0.375rem;
    width: 100%;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4A5568;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputElement:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #667EEA;
}

.checkboxContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.checkboxItem {
    text-align: center;
}

.checkboxLabel {
    font-size: 0.875rem;
    font-weight: 500;
    color: #4A5568;
}

.forgotPasswordContainer {
    text-align: center;
}

.forgotPasswordLink {
    color: #667EEA;
    font-weight: 500;
    font-size: 0.875rem;
    transition: color 0.2s;
}

.forgotPasswordLink:hover {
    color: #5A67D8;
}

.submitButtonContainer {
    margin-bottom: 1.5rem;
}

.submitButton {
    background-color: #667EEA;
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.75rem 0;
    border-radius: 0.375rem;
    width: 100%;
    transition: background-color 0.2s;
}

.submitButton:hover {
    background-color: #5A67D8;
}

.socialContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0;
    margin-bottom: 1.5rem;
}

.line {
    border-top: 1px solid #CBD5E0;
    margin-top: 0.75rem;
    display: none;
}

.socialText {
    text-align: center;
    background-color: #fff;
    font-size: 0.875rem;
    color: #4A5568;
    font-weight: normal;
}

.socialButtonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.socialButton {
    position: relative;
    border: 1px solid #CBD5E0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-weight: 600;
    color: #4A5568;
    font-size: 0.875rem;
    padding: 0.25rem;
    border-radius: 0.375rem;
    text-align: center;
    width: 100%;
    transition: border-color 0.2s;
}

.socialButton:hover {
    border-color: #667EEA;
}

.socialIcon {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
